{% extends 'base.html.twig' %}

{% block title %}Modifier un animal{% endblock %}

{% block body %}
    <h1>Modifier l'animal <i>{{ animal.numeroIdentification }}</i></h1>
    {{ form(formulaire) }}
{% endblock %}
